.ulDefault {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navBarList a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: left;
  
  
}

.navBarList a:hover {
	background-color: blue;
}

.navBarList a.active {
	background-color: blue;
	color: white;
}

body{
	background-color: gray;
}

.welcome{
	background-color: black;
	border: solid;
	border-color: blue;
	padding: 5px;
	position: fixed;
	top: 15%;
	margin-left:33%;
	float:left;
}


.welText{
	text-align: center;
	color: white;
	padding: 5px;
}

.headText{
	text-decoration: underline;
	size: 30px;
	text-align: center;
}

.ctrList{
	background-color: black;
	border: solid;
	border-color: blue;
	padding: 5px;
	position: absolute;
	float:left;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-gap: 15px;
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
	font-size: 15px;
}

.ctrList > div{
	
	text-align: center;
	padding: 20px;
}

.ctrText{
	
	color: white;
	text-align: center;
	padding: 15px;
	display: block;
	
}

.abtTop{
	background-color: black;
	border: solid;
	border-color: blue;
	padding: 5px;
	margin-top: 3%;
	margin-right: 40%;
	margin-left:40%;
	
}
.abtMid{
	background-color: black;
	border: solid;
	border-color: blue;
	padding: 5px;
	margin-top: 3%;
	margin-right: auto;
	margin-left:auto;
	
}
.abtTextMid{
	text-align: center;
	color: white;
	padding: 5px;
	font-size: 20px;
}

.abtText{
	text-align: center;
	color: white;
	padding: 5px;
	font-size: 30px;
}

.ctrPgHeader{
	font-size: 20px;
	
	text-decoration: underline;
	color: white;
	padding: 6px;
	
}

.ctrPgIntr{
	font-size: 20px;
	text-decoration: underline;
	color: white;
	padding: 6px;
	
}

.ctrPgIntrHead{
	font-size: 23px;
	color: white;
	padding: 6px;
	font-style:bold;
	
}

.ctrIndent{
	text-indent: 50px;
}

.ctrPgFlag{
	width:30%;
	height: auto;
	overflow: auto;
	display:inline-block;
	float: right;
	
	
}

.ctrPgUnit{
	background-color: black;
	border: solid;
	border-color: blue;
	overflow:auto;
	margin-top:22%;
}

.hpTweet{
	overflow:auto;
	margin-left:40%;
}

.ctrBottom{
	width:50%;
}

.ctrPgFix{
	float:left;
}

